@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  margin: 40px 0;
  font-family: 'Raleway';
  background-image: url('@/assets/images/HC_Background_02.png'); /* Add your image path here */
  background-size: contain; /* Cover the entire viewport */
  background-repeat:initial; /* Prevent repeating the image */
  background-position: center center; /* Center the image */
  background-blend-mode: light;

  font-size: 14px;
  font-weight: 500;
  background-color: #bcaaa4;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  display: flex;
  margin-left: auto; 
}

.navbar a {
  font-size: 18px;
  font-weight: 400;
  font-family: monospace;
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffdab9;
}

.blur-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1px); /* Apply blur effect */
  z-index: -1; /* Ensure it stays behind the content */
  /*background: rgba(42, 41, 41, 0.3);*/
  /* Optional: Add a slight background color */
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}*/

/* @media (min-width: 724px) { 

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar a {
    margin: 10px 0;
    padding: 10px 20px;
  }

  .navbar-open {
    display: flex;
  }

  .navbar-open .logo-image {
    display: none;
  }
}  */
